
button {
	background-color: #d3c6bb;
	font-size: 20px;
	color: #000000;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid #808080;
}
button:hover {
	background-color: #7cc272;
	color: #333333;
}

.hidden{
	display: none;
}

.showing{
	display: block;
	font-family: Arial, sans-serif;
	background-color: #ebefe6;
	color: #000000;
	width: 400px;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px
}

.logo{
	float: right;
	/*
	position: absolute;
	top: 20px;
	right: 30px;
	*/
	margin: 10px 20px 20px 10px;
}
/*
body{
	background-color: #ebefe6;
	font-family: "Montserrat", serif;
}
*/
h1{
	color: #a8776c;
}


p {
	color: #687775;
	text-align: justify;
	/*text-indent: 2em;*/
}

/* Decended combinator*/
article li {
	color: #a8776c;
}

section p i{
	color: #a8776c;
}

.large-text{
	font-size: 26px;
}


code{
	font-family: Consolas,"courier new";
	color: crimson;
	background-color: #f1f1f1;
	padding: 2px;
  	font-size: 105%;
}


label {
	display: block;
	padding: 0.25rem 0 0.25rem;
}

fieldset {
	display: grid;
	grid-template-columns: min-content 1fr;
	margin: 1rem 0;
  	border: 1px solid var(--grey);
	grid-column: 2;
}
legend {
	margin: 0 0 0.5rem -1rem;
	padding: 0.14rem 0.5rem 0.08rem 0.5rem;	
	color: black;
	background: #b4dfe6;
}
fieldset:focus-within legend {
	color: var(--teal);
}

textarea {
	/* If you apply min-width and max-width, you can keep the box from being resized in the horizontal direction by the user. Pretty cool. */
	min-width: 50%;
	max-width: 90%; 
}

input[type="search"]::placeholder {
	text-align: right;
}
input[type="color"] {
  inline-size: 3.6rem;
  block-size: 1.8rem;
  padding: 0;
  border: none;
}
input[type="color"]:focus {
  padding: 1px;
  background: var(--teal);
}
input[type="file"] {
	padding-inline-start: 0;
  border: none;
}
input[type="file"]:focus {
	outline: 1px solid var(--teal);
}

input[type="checkbox"] {
	width: min-content;
}

#welcome-message{
	background-color: #ebefe6;
}

article p:first-of-type::first-letter {
	color: red;
}


